*.iml

.gradle
.gradle/

/local.properties

.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
Thumbs.db

/build
build/
*/build/

.cache/

/captures
captures/

.externalNativeBuild

.cxx

local.properties

*.apk
*.aab

kotlin/**/build/

